.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
}

@media (min-width: 801px) {
  .priceCardBox {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
  }
}

.priceCardBox {
  padding-top: 0;
  margin-top: 0;
  width: 70%;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.priceCard {
  text-align: center;
  color: black;
  background-color: white;
  margin: 1rem;
  border: none;
  width: 100%;
  border-radius: 10px;
}

.priceCard:hover {
  margin-top: -1px;
  margin-bottom: 1px;
  transition: 0.2s;
  box-shadow: 0px 5px 15px #635CCC;
}

.priceCard:hover .btn {
  opacity: 1;
}

.planName {
  text-transform: uppercase;
  margin: 0;
  margin-top: 0.9rem;
  opacity: 50%;
}

.price {
  padding: 0;
  margin: 0;
  font-weight: 700;
}

hr {
  margin: 1rem;
  opacity: 0.5;
}

ul {
  margin: 1rem;
  text-align: start;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

li {
  padding: 0.5rem;
  font-weight: 500;
}

.denied {
  opacity: 50%;
}

.btn {
  cursor: pointer;
  margin: 1rem;
  width: 90%;
  padding: 1em;
  border: none;
  border-radius: 2rem;
  background-color: #007aff;
  opacity: 0.5;
}
