@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap");

* {
  color: #ffffff !important;
  font-family: "Roboto Condensed", "Poppins", sans-serif;
  caret-color: rgb(4, 217, 255) !important;
}

.navbar {
  background: linear-gradient(
    127.09deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  ) !important;
  width: 100% !important;
  box-sizing: border-box;
  overflow: hidden;
  border: 0;
  padding: 0;
}
.navbar .form-control,
.navbar .form-control::placeholder {
  background: linear-gradient(
    127.09deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  ) !important;
  color: #ffffff;
  border: none;
}
.navbar .form-control {
  outline: none;
  border-bottom: 1px solid rgb(4, 217, 255);
}
.sticky-top {
  margin-bottom: 1em;
}

.nav-item {
  display: flex !important;
  justify-content: center !important;
  color: white;
  position: relative;
  border: 1px transparent;
  flex: 1;
  margin: 0;
  border: 0;
  padding: 0;
}

.dashBoardCards {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(120px);
  width: 100%;
  border-radius: 1.5em !important;
  background: linear-gradient(
    127.09deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  ) !important;
  height: 100%;
  align-self: flex-start;
}

.nav-item:hover {
  border: 0;
  border-radius: 20%;
  transition: 200ms;
  top: -5px;

  border: 1px solid rgb(4, 217, 255);
  border-bottom: 1px solid rgb(4, 217, 255);
  box-shadow: 1px 1px 10px rgb(4, 217, 255);
}

.borderDesign {
  height: 1px !important;
  width: 100% !important;
  background: linear-gradient(
    90deg,
    rgba(224, 225, 226, 0) 0%,
    rgb(224, 225, 226) 49.52%,
    rgba(224, 225, 226, 0) 100%
  ) !important;
  margin-top: 22px !important;
  margin-bottom: 22px !important;
}

.active {
  font-weight: 700 !important;
  color: rgb(4, 217, 255) !important;
  text-shadow: 2px 2px 15px;
  border-bottom: 3px solid rgb(4, 217, 255) !important;
  padding: 0 !important;
  border-radius: 5px;
}

.card-link {
  background-color: transparent !important;

  color: rgb(4, 217, 255) !important;
  text-shadow: 1px 1px 10px;

  box-shadow: 0 0 0.5em 0;
}

.card-link:hover {
  text-shadow: none;
  background-color: rgb(4, 217, 255) !important;
  color: black !important;
  box-shadow: 0 0 0.8em 0 rgb(4, 217, 255);
}
.dropdown-menu {
  background: linear-gradient(
    127.09deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  ) !important;
}

.dropdown-menu li a:hover {
  text-shadow: none;
  background-color: rgb(4, 217, 255) !important;
  color: black !important;
  box-shadow: 0 0 0.8em 0 rgb(4, 217, 255);
}
/* 
.input-group {
  background: linear-gradient(
    127.09deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  ) !important;
  width: 65% !important;
}

.input-group .form-control{
  background: transparent !important;
  border: none;
  border-bottom: 1px solid white;

}
.firstname, .lastname{
  width: 23em;
}
.email{
  width: 25em;
}
.phone{
  width: 15em;
} */

.form-control,
.input-group span,
.form-select {
  background: linear-gradient(
    127.09deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  ) !important;
}
.form-select > option {
  background-color: black !important;
}

.valid-feedback {
  color: rgb(48, 206, 8) !important;
}

.invalid-feedback {
  color: rgb(206, 8, 8) !important;
}

.formContainer {
  background: linear-gradient(
    127.09deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  ) !important;
}
.form-check > input,
.form-check > label {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  margin: 0;
}

.submitBtn {
  width: 70%;
  height: 50%;
}

@keyframes rollout {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: none;
  }
}

.roll-out {
  animation: rollout 0.7s;
}
.img-thumbnail {
  background: transparent !important;
  width: 200px !important;
  border: none !important;
}
.input-group > label {
  background: linear-gradient(
    127.09deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  ) !important;
  border: none;
}
.input-group > .profilePic {
  border: none;
  border-bottom: 1px solid white;
}
.form-control::file-selector-button {
  background: transparent !important;
  color: #ffffff !important;
  border: none !important;
}

table > thead > tr > th,
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr > td,
table > tbody > tr > th {
  background: rgba(6, 11, 40, 0.94) !important;
}
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background: rgba(10, 14, 35, 0.49) !important;
}
table > tbody > tr > .actionBtn {
  text-align: center;
}
thead {
  position: sticky;
}
.form-control::placeholder {
  color: #ffffff !important;
}

.btnIcon {
  position: relative;
  left: -35px;
  top: 5px;
}
.btnIcon > button,
.search > label > input {
  border: none;
}
.search > label > input {
  border-bottom: 1px solid rgb(4, 217, 255);
}

.filterBox .input-group-text, .input-group-text {
  background: transparent !important;
  border: none !important;
}

.paginationNav > ul > li > .page-link {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(4, 217, 255);
  font-size: medium;
}
.paginationNav > ul > li {
  background: rgba(10, 14, 35, 0.49) !important;
}

.activeBtn {
  background-color: aqua !important;
  color: black !important;
  top: -1px;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
}

.page-link:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}
.previousBtn:hover,
.nextBtn:hover {
  background-color: cyan !important;
  color: black !important;
}

.modal-content {
  background: rgba(10, 14, 35, 0.49) !important;
}
.modal-body > table {
  background: transparent !important;
}
.dataModelBox > .card {
  background: transparent !important;
}
.selectedName>p{
  padding-left: 2px;
  display: flex;
  align-items: center;
  color: aquamarine !important;
  background-color: none !important;
  width: 100%;
}
