:root, #root {
    
    background-image: url('./assets/background.webp');
    background-position: center;
    background-size: cover;
    color: #ffffff;
    background-attachment: fixed;

}
*{
    color: #ffffff;
}